<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

##Start Redirection Code## 
Header always set Content-Security-Policy "upgrade-insecure-requests;"

ErrorDocument 404 /404
ErrorDocument 403 /403